@mixin link-style {
  a {
    text-decoration: none;
    color: white;
  }
}

mat-toolbar {
  .navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;

    &-logo {
      @include link-style;
      font-size: 24px;
    }

    &-auth {
      @include link-style;
      font-size: 20px;

      .material-icons {
        font-size: 32px;
      }
    }
  }
}


